body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
}

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero-content {
  margin-top: 200px;
}

pre {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
}

.v-btn {
  font-family: 'Montserrat', sans-serif;
}
